*, *::before, *::after {
  box-sizing: border-box;
  font-size: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

body, h1, h2, h3, h4, p, a, button {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: "Public Sans", sans-serif !important;
  font-size: 1.125rem;
  line-height: 1.2;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  border: none;
  outline: none;
  background: none;
}

h1 {
  font-size: clamp(2.1875rem, 5vw, 2.5rem);
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  line-height: 1.15;
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
  line-height: 1.15;
}

h3 {
  font-weight: 400;
  color: hsl(233deg, 26%, 24%);
}

p {
  font-weight: 400;
  font-size: 0.9375rem;
  color: hsl(233deg, 8%, 62%);
  line-height: 1.6;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
}
.container-pd-x {
  padding-inline: 1.375rem;
}
.container-pd-y {
  padding-block: 1.125rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

.button {
  display: block;
  padding: 1.0625rem 2.1875rem;
  border-radius: 1.5625rem;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(0deg, 0%, 100%);
  transition: all 300ms ease-in-out;
}
.button:hover {
  opacity: 0.75;
}

.header {
  position: relative;
  height: 80px;
  background-color: hsl(0deg, 0%, 100%);
  z-index: 100000000000;
}
.header .overlay {
  position: absolute;
  display: none;
  opacity: 0;
  top: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80vh;
  background: linear-gradient(hsl(233deg, 26%, 24%), transparent);
  transition: all 500ms ease-in-out;
  z-index: -99999;
}
.header .overlay.active {
  display: block;
  opacity: 1;
  z-index: 1;
}
.header #nav-container {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10000000;
}
.header #nav-container #logo-container {
  display: inherit;
}
.header #nav-container #logo-container a {
  display: inherit;
}
.header #nav-container #menu-container {
  cursor: pointer;
}
@media screen and (min-width: 30.0625em) {
  .header #nav-container #menu-container {
    display: none;
  }
}
.header #nav-container #links-container {
  gap: 1.875rem;
}
@media screen and (max-width: 30em) {
  .header #nav-container #links-container {
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 265px;
    width: 325px;
    top: -100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    background-color: hsl(0deg, 0%, 100%);
    transition: all 500ms ease-in-out;
  }
  .header #nav-container #links-container.active {
    top: 7rem;
    visibility: visible;
    opacity: 1;
    z-index: 1;
  }
  .header #nav-container #links-container .header__links {
    color: hsl(233deg, 26%, 24%);
    font-weight: 400;
    height: 1rem;
  }
}
@media screen and (max-width: 48em) {
  .header #nav-container #button-container {
    display: none;
  }
}
.header__logo {
  height: 20px;
  width: 140px;
}
.header__menu > span {
  display: block;
  width: 26px;
  height: 3px;
  border-radius: 25px;
  background-color: hsl(233deg, 26%, 24%);
  transition: all 300ms ease-in-out;
}
.header__menu > span:not(:last-child) {
  margin-bottom: 0.25rem;
}
.header__menu.active > span:nth-child(2) {
  opacity: 0;
}
.header__menu.active > span:first-child {
  transform: rotate(-45deg) translateX(-10px);
}
.header__menu.active > span:last-child {
  transform: rotate(45deg) translateX(-10px);
}
.header__links {
  position: relative;
  height: 5rem;
  font-size: 0.9375rem;
  font-weight: 400;
  color: hsl(233deg, 8%, 62%);
  transition: all 300ms ease-in;
}
.header__links::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, hsl(136deg, 65%, 51%), hsl(192deg, 70%, 51%));
  opacity: 0;
  transition: all 300ms ease-in;
  right: 1.25rem;
}
.header__links:hover {
  color: hsl(233deg, 26%, 24%);
}
.header__links:hover::before {
  opacity: 1;
  right: 0;
}

.hero {
  background-color: hsl(0deg, 0%, 98%);
}
@media screen and (min-width: 30.0625em) {
  .hero {
    display: flex;
  }
}
@media screen and (min-width: 90em) {
  .hero {
    max-width: 125rem;
    margin: 0 auto;
  }
}
.hero__image {
  display: flex;
  justify-content: center;
  background: url(/images/bg-intro-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 260px;
  margin-bottom: 2.8125rem;
}
.hero__image img {
  position: absolute;
  margin-top: -8.75rem;
  height: 425px;
  z-index: 100;
}
@media screen and (min-width: 30.0625em) {
  .hero__image img {
    margin-top: -4.625rem;
    height: 528px;
    margin-right: -10.1875rem;
  }
}
@media screen and (min-width: 48.0625em) {
  .hero__image img {
    margin-top: -7.9375rem;
    height: 832px;
    margin-right: -16.9375rem;
  }
}
@media screen and (min-width: 64.0625em) {
  .hero__image img {
    margin-top: -8.125rem;
    height: 953px;
    margin-right: -17.812rem;
  }
}
@media screen and (min-width: 30.0625em) {
  .hero__image {
    background: url(/images/bg-intro-desktop.svg);
    order: 2;
    flex: 2;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -28px -44px;
    background-size: 32rem;
    height: 377px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 48.0625em) {
  .hero__image {
    background-position: -24px -240px;
    background-size: 73rem;
    height: 650px;
    margin-bottom: 0;
  }
}
.hero__text {
  text-align: center;
}
.hero__text h1 {
  margin-bottom: 1.875rem;
}
.hero__text p {
  margin-bottom: 2.1875rem;
}
@media screen and (min-width: 30.0625em) {
  .hero__text {
    height: auto;
    margin-block: auto;
    order: 1;
    flex: 1.2;
    text-align: left;
  }
}
@media screen and (min-width: 90em) {
  .hero__text {
    padding-left: 11.6875rem;
    flex: 1;
  }
}
@media screen and (max-width: 30em) {
  .hero__cta-container {
    margin-bottom: 5rem;
  }
}

.feature {
  text-align: center;
  padding-block: 65px;
  background-color: hsl(220deg, 16%, 96%);
}
.feature__subheader {
  margin-bottom: 60px;
}
.feature__item:not(:last-child) {
  margin-bottom: 35px;
}
.feature__icon, .feature__title {
  margin-bottom: 30px;
}
@media screen and (min-width: 30.0625em) {
  .feature {
    text-align: left;
    padding-block: 110px;
  }
  .feature h2 {
    margin-bottom: 20px;
  }
  .feature .feature__subheader {
    max-width: 586px;
  }
  .feature .feature__item-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
    grid-template-rows: auto;
  }
  .feature .feature__item {
    padding-inline: 9px;
  }
  .feature .feature__icon {
    margin-bottom: 45px;
  }
}
@media screen and (max-width: 30em) {
  .feature h2 {
    max-width: 324px;
    margin: 0 auto 30px;
  }
}
@media screen and (min-width: 90em) {
  .feature {
    max-width: 125rem;
    margin: 0 auto;
  }
}

.article {
  padding-block: 65px;
  background-color: hsl(0deg, 0%, 98%);
}
.article h2 {
  margin-bottom: 60px;
}
@media screen and (max-width: 30em) {
  .article h2 {
    text-align: center;
    margin: 0 auto 35px;
  }
}
.article__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(248px, 1fr));
  grid-template-rows: auto;
  row-gap: 20px;
}
.article__card {
  display: block;
  background-color: hsl(0deg, 0%, 100%);
  width: 18.75rem;
  border-radius: 5px;
  padding-bottom: 40px;
  margin: 0 auto 20px;
}
@media screen and (min-width: 30.0625em) {
  .article__card {
    max-width: 255px;
    padding-bottom: 28px;
  }
}
.article__author, .article__subheader, .article__description {
  padding-inline: 25px;
}
.article__image {
  position: relative;
  width: 100%;
  height: 11.25rem;
  border-radius: 5px 5px 0 0;
  margin-bottom: 30px;
}
.article__author {
  display: block;
  font-size: 9px;
  color: hsl(233deg, 8%, 62%);
  font-weight: 300;
  margin-bottom: 15px;
}
.article__subheader {
  font-size: 14px;
  margin-bottom: 15px;
}
.article__description {
  font-size: 11px;
}
@media screen and (min-width: 90em) {
  .article {
    max-width: 125rem;
    margin: 0 auto;
  }
}/*# sourceMappingURL=style.css.map */