@use '../variable/' as *;

*, *::before, *::after {
    box-sizing: border-box;
    font-size: 100%;
}

html:focus-within {
    scroll-behavior: smooth;
}

body, h1, h2, h3, h4, p, a, button {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Public Sans', sans-serif !important;
    font-size: $bodyFont;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    font-family: inherit;
    border: none;
    outline: none;
    background: none;
}