// Primary Colors
$darkBlue: hsl(233, 26%, 24%);
$limeGreen: hsl(136, 65%, 51%);
$brightCyan: hsl(192, 70%, 51%);
// Neutral Colors
$grayishBlue: hsl(233, 8%, 62%);
$lightGrayishBlue: hsl(220, 16%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

// Font Weights
$lightWeight: 300;
$regularWeight: 400;
$heavyWeight: 700;

// Font Sizes (bodyFont: 18px, subheaderFont: 36px, headerFont: 72px)
$verySmallFont: 0.8125rem;
$smallFont: 0.9375rem;
$bodyFont: 1.125rem;
$subheaderFont: 2.25rem;
$maxHeaderFont: 2.5rem;
$mobileHeaderFont: 2.1875rem;