@use '../variable/' as *;
@use '../abstract/' as *;

.footer {
    color: $white;
    background-color: $darkBlue;
    
    @include breakpoint-down(tablet) {
        text-align: center;
    }
    @include breakpoint-up(desktop-up) {
        max-width: 125rem;
        margin: 0 auto;
    }

    &__container {
        padding-block: 40px;

        @include breakpoint-up(laptop) {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    &__img-container {

        @include breakpoint-down(tablet) {
            margin-bottom: 35px;
        }

        @include breakpoint-up(laptop) {
            height: 190px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-start;
        }
    }

    &__logo {
        margin-bottom: 30px;
    }

    &__icons-container {
        gap: 15px;

        .footer__icon {
            aspect-ratio: 1;
            width: 25px;

            &:hover {
                filter: invert(68%) sepia(10%) saturate(2792%) hue-rotate(84deg) brightness(96%) contrast(94%);
            }
        }
    }

    &__nav-container {

        font-weight: $regularWeight;

        .firstHalf, .secondHalf {
            flex-direction: column;
            gap: 20px;
            font-size: 12px;
        }

        .firstHalf {
            @include breakpoint-down(tablet) {
                margin-bottom: 20px;
            }
        }

        .secondHalf {
            @include breakpoint-down(tablet) {
                margin-bottom: 25px;
            }
        }

        .footer__nav-links {
            transition: all 300ms ease-in-out;
            &:hover {
                color: $limeGreen;
            }
        }

        @include breakpoint-up(laptop) {
            display: grid;
            grid-template-columns: 40% 60%;
            grid-template-rows: auto;
            width: 47%;
            align-items: center;
            font-size: 13px;
            font-weight: $regularWeight;
        }
    }

    &__copyright-container {
        @include breakpoint-up(laptop) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }
    }

    &__copyright {
        display: block;
        color: $grayishBlue;
        font-size: 12px;

        @include breakpoint-up(laptop) {
            font-size: 13px;
        }
    }



    #button-container {
        margin-bottom: 30px;
        
    }
}