@use '../variable/' as *;
@use '../abstract/' as *;


.header {
    height: 5rem;
    background-color: $white;

    #nav-container {
        position: relative;
        height: 100%;

        #logo-container {
            display: inherit;

            a {
                display: inherit;
            }
        }

        #menu-container {
            cursor: pointer;

            @include breakpoint-up(mobile) {
                display: none;
            }
        }

        #links-container {
            gap: 1.875rem;
            
            @include breakpoint-down(mobile) {
                display: none;
            }
        }
    }

    &__logo {
        height: 20px;
        width: 140px;
    }

    &__menu {
        > span {
            display: block;
            width: 26px;
            height: 3px;
            background-color: $darkBlue;

            &:not(:last-child) {
                margin-bottom: 0.25rem;
            }
        }
    }

    &__links {
        font-size: $smallFont;
        font-weight: $lightWeight;
        color: $grayishBlue;
    }

    &__cta {
        font-size: $smallFont;
        font-weight: $regularWeight;
    }
}