@use '../variable/' as *;
@use '../abstract/' as *;

.hero {
    background-color: $veryLightGray;

    @include breakpoint-up(mobile) {
        display: flex;
    }

    @include breakpoint-up(desktop-up) {
        max-width: 125rem;
        margin: 0 auto;
    }

    &__image {
        display: flex;
        justify-content: center;
        background: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 260px;
        margin-bottom: 2.8125rem;

        img {
            position: absolute;
            margin-top: -8.75rem;
            height: 425px;
            z-index: 100;

            @include breakpoint-up(mobile) {
                margin-top: -4.625rem;
                height: 528px;
                margin-right: -10.1875rem;
            }

            @include breakpoint-up(laptop) {
                margin-top: -7.9375rem;
                height: 832px;
                margin-right: -16.9375rem;
            }

            @include breakpoint-up(desktop) {
                margin-top: -8.125rem;
                height: 953px;
                margin-right: -17.812rem;
            }
        }        

        @include breakpoint-up(mobile) {
            background: url(/images/bg-intro-desktop.svg);
            order: 2;
            flex: 2;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: -28px -44px;
            background-size: 32rem;
            height: 377px;
            margin-bottom: 0;
        }

        @include breakpoint-up(laptop) {
            background-position: -24px -240px;
            background-size: 73rem;
            height: 650px;
            margin-bottom: 0;
        }
    }

    &__text {
        text-align: center;

        h1 {
            margin-bottom: 1.875rem;
        }
        p {
            margin-bottom: 2.1875rem;
        }

        @include breakpoint-up(mobile) {
            height: auto;
            margin-block: auto;
            order: 1;
            flex: 1.2;
            text-align: left;
        }

        @include breakpoint-up(desktop-up) {
            padding-left: 11.6875rem;
            flex: 1;
        }

    }

    &__cta-container {
        @include breakpoint-down(mobile) {
            margin-bottom: 5rem;
        }
    }
}