@use '../variable/' as *;

.hero {
    background-color: $veryLightGray;

    &__image {
        position: relative;
        display: flex;
        justify-content: center;
        background: url(/images/bg-intro-mobile.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 260px;
        margin-bottom: 45px;

        img {
            margin-top: -140px;
            height: 425px;
        }
        
    }

    &__text {
        text-align: center;

        h1 {
            margin-bottom: 1.875rem;
        }
        p {
            margin-bottom: 2.1875rem;
        }
    }
}